{% load static %}

<html data-csrf-token="{{ csrf_token }}">
<head>
    <title>Work Time Tracker</title>

    <link rel="manifest" href="{% url 'manifest' %}">

    <script src="{% static 'js/notification-manager.js' %}"></script>
    <script>

    document.addEventListener('DOMContentLoaded', event => {
        const htmlElement = document.getElementsByTagName('html').item(0);
        const csrfToken = htmlElement.dataset.csrfToken;

        var notifications = new NotificationManager('{% static 'js/service-worker.js' %}');

        notifications.subscription
            .then(subscription => {
                if (subscription !== null) {
                    return subscription;
                } else {
                    return notifications.subscribe();
                }
            })
            .then(subscription => {
                return fetch('/push/subscribe/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken
                    },
                    credentials: 'same-origin',
                    body: JSON.stringify({identifier: subscription.endpoint})
                });
            });

    });

    </script>
</head>
<body>

{% if not has_ongoing_period %}
<form action="{% url 'start' %}" method="post">
    {% csrf_token %}
    <button type="submit">Start</button>
</form>
{% else %}
<form action="{% url 'end' %}" method="post">
    {% csrf_token %}
    <button type="submit">End</button>
</form>
{% endif %}

<table>
    <tr><td>Start</td><td>End</td>
    {% for period in recent_periods %}
    <tr><td>{{ period.start }}</td><td>{{ period.end }}</td></tr>
    {% endfor %}
</table>

<form action="{% url 'logout' %}" method="get">
    <button type="submit">Logout</button>
</form>

<p>
{{ api_start_url }}
</p>

<p>
{{ api_end_url }}
</p>

</body>
</html>
