{% load static %}

<html data-csrf-token="{{ csrf_token }}">
<head>
    <title>Work Time Tracker</title>

    <link rel="manifest" href="{% url 'manifest' %}">

    <script src="{% static 'js/notification-manager.js' %}"></script>
    <script>

    document.addEventListener('DOMContentLoaded', event => {
        const htmlElement = document.getElementsByTagName('html').item(0);
        const csrfToken = htmlElement.dataset.csrfToken;

        var notifications = new NotificationManager('{% static 'js/service-worker.js' %}');

        notifications.subscription
            .then(subscription => {
                if (subscription !== null) {
                    return subscription;
                } else {
                    return notifications.subscribe();
                }
            })
            .then(subscription => {
                return fetch('/push/subscribe/', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({identifier: subscription.endpoint})
                });
            });
    });

    </script>
</head>
<body>

<form action="{% url 'logout' %}" method="get">
    <button type="submit">Logout</button>
</form>

</body>
</html>
